
// Generic styles
$card-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);

$input-border: #D0D0D0;

$input-primary: #8166D1;

$title-primary: #666666;

//Media queries

$tablet-width: 95%;

$mobile-size: 0.85;