.login-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 9rem;
    height: 34rem;
    padding-bottom: 10rem;
    transition: 1.5s;
    transform: scale(0.9,0.9);
    opacity: 0;

    &.fade-in {
        transform: scale(1,1);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .login-card-container {
        grid-template-columns: 1fr;
        height: unset;
        margin-top: 5rem;
    }
}